.About {
    display: flex;
    padding: 0 3rem 0 3rem;
    height: 55vh;
    margin-top: 1rem;
    margin-bottom: 13rem;
    padding-top: 2rem;
}

.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
}

.awesome>:nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome>:nth-child(2) {
    color: var(--darkgreen);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome>:nth-child(3) {
    color: var(--gray);
    font-size: 20px;
    margin-top: 1rem;
}

.A-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}

@media screen and (max-width:1240px) {
    .About {
        flex-direction: column;
        margin-top: 20rem;
        padding: 0;
    }

    .Card {
        left: 13rem;
        top: -12rem;
    }
}

@media screen and (max-width:768px) {
    .About {
        flex-direction: column;
        padding: 0;
    }

    .Card {
        left: 13rem;
        top: -12rem;
    }
}


@media screen and (max-width:425px) {
    .About {
        margin-top: 22rem;
    }
    .Card{
        left: 8.1rem;
    }

}

@media screen and (max-width:375px) {
    .About {
        margin-top: 25rem;
    }
}