.Footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    height: 60vh;
    margin-bottom: -4.5rem;
    margin-top: -14rem;

}

.fcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 94%;
    margin-top: -6rem;
    gap: 1rem;
    color: white;
}

.ficon {
    display: flex;
    gap: 0rem;
}


@media screen and (max-width:480px) {
    .Footer {
        display: flex;
        align-items: center;
        margin: -0.5rem -3.5rem;
        margin-top: -2rem;
        height: 41vh;
        margin-bottom: -4.5rem;


    }

    .fcontent {
        transform: scale(0.7);
        margin-top: -4rem;
        margin-left: -2rem;
    }
    .mf{
        height: 11rem;
    }

}