.Floatingdiv{
    justify-content: space-around;
    display: flex;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    align-items: center;
    padding-right: 25px;
    height: 4.5rem;
}

.Floatingdiv>img{
    transform: scale(0.5);
}
.Floatingdiv>span{
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}